footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(89, 93, 94, 1) 100%);
    margin-top: 60px;

    .pie {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
        }

        .logo-fondo-completo {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            p {
                margin-bottom: 0;
                transition: all 1s;

                &:hover {
                    background-color: grey;
                    color: black;
                    border-radius: 10px;
                }
            }
        }

        .redes {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;

            p {
                margin-bottom: 0;
                transition: all 1s;

                &:hover {
                    background-color: grey;
                    color: black;
                    border-radius: 10px;
                }
            }
        }
    }
}