header {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(89, 93, 94, 1) 100%);
    width: 100%;

    nav {
        img {
            width: 80px;
            height: 90px;
            border-radius: 20px;
        }

        a {
            color: black;
            font-size: 25px;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .nav-item {

                a {
                    transition: all 1s;

                    &:hover {
                        background-color: black;
                        color: white;
                        border-radius: 10px;
                    }

                }
            }
        }
    }
}